          <div class="mhy_login">
                    <div style="width: 450px;">
                        <div class="mhy_account">
                            <img src="/img/logo-full.png" class="mhy_logo">
                            <label for="login" class="mhy_account_out">
                                <img src="/img/cancel_normal.png">
                            </label>
                            <input type="radio" name="account" style="display: none;" id="account_one" >
                            <input type="radio" name="account" style="display: none;" id="account_two" checked>
                            <div class="account">
                                <label for="account_one">
                                    注册
                                </label>
                                <label for="account_two">
                                    登录
                                </label>
                            </div>
                            <div class="register">
                                <div class="mhy_input" style="margin-top: 35px;">
                                    <div class="mhy_input_account">
                                        <input type="text" placeholder="邮箱注册/登入">
                                    </div>
                                </div>
                                <div class="mhy_input">
                                    <div class="mhy_input_account">
                                        <input type="password" placeholder="输入密码">
                                    </div>
                                </div>
                                <div class="mhy_input">
                                    <div class="mhy_input_account">
                                        <input type="password" placeholder="重复密码">
                                    </div>
                                </div>
                                <div class="mhy_input">
                                    <div class="mhy_input_account">
                                        <input type="text" placeholder="验证码">
                                        <div class="mhy_input_yzm">
                                            获取验证码
                                        </div>
                                    </div>
                                </div>
                                <button class="mhy_login_btn">
                                    注册
                                </button>
                                <div class="mhy_help mhy_login_public">
                                    <label for="account_two" style="color: black;">
                                        返回登陆
                                    </label>
                                </div>

                            </div>
                            <div class="login">
                                <div class="mhy_input" style="margin-top: 35px;">
                                    <div class="mhy_input_account">
                                        <input type="text" placeholder="用户名/邮箱">
                                    </div>
                                </div>
                                <div class="mhy_input">
                                    <div class="mhy_input_account">
                                        <input type="text" placeholder="密码">
                                    </div>
                                </div>
                                <button class="mhy_login_btn">
                                    登入
                                </button>
                                <div class="mhy_help mhy_login_public">
                                    <label style="color: black;">
                                        忘记密码?
                                    </label>                
                                    <label for="account_one" style="color: black;">
                                        立即注册
                                    </label>
                                </div>
 
                            </div>
                        </div>
                    </div>
                </div>